.wrapper {
  width: 80%;
  margin: auto;
  text-align: center;
}

.fallingButtonsDiv {
  height: 75vh;
  background-color: white;
  box-shadow: 0px 0px 100px lightgrey, inset 0px 0px 50px lightgrey;
  border-radius: 10px;
}

.fallingButton {
  padding: 10px;
  font-size: 14px;
  background: none;
  border: none;
  color: black;
}

.bottomDiv {
  display: flex;
  justify-content: space-between;
}

.lifesDiv {
  visibility: visible;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  visibility: hidden;
}

.heartImage {
  height: 25px;
  width: 25px;
}
