.wrapper {
  width: 95%;
  margin: auto;
  text-align: center;
}

.fallingButtonsDiv {
  display: flex;
  height: 75vh;
  background-color: rgba(255, 255, 255, 0);
  background-image: url(./images/cloud.png);
  background-repeat: repeat-x, space;
  background-size: 88px;
}

.fallingButton {
  padding: 10px;
  font-size: 10px;
  font-family: "Press Start 2P";
  background: none;
  border: none;
  color: black;
}

.fallingButton:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

.bottomDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lifesDiv {
  visibility: visible;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  visibility: hidden;
}

.heartImage {
  height: 32px;
  width: 32px;
}

.scoreClass {
  font-size: 16px;
}
